/* Actions */
.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.15rem;
  border: 0;
  height: 100%;
}

.actions .button-action:disabled {
  cursor: default;
}

.actions .button-action:hover,
.actions .button-action:focus {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 0.1rem inset, rgba(50, 50, 93, .2) 0 0.3rem 0.65rem 0, rgba(0, 0, 0, .1) 0 0.1rem 0.1rem 0, rgba(50, 151, 211, .3) 0 0 0 0.15rem;
}

.actions .button-action:nth-child(4) {
  grid-column: 1 / span 2;
}


/* Export Buttons */

.export-button-container, .export-button-wrapper {
  display: flex;
}

.export-button-wrapper {
	flex-wrap: wrap;
	gap: 0.25rem;
}
.export-button-wrapper > * {
	width: 45%;
	font-size: 0.95rem;
	white-space: pre-wrap;
}

.export-button-wrapper  a.button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.export-button-container > * {
	width: 50%;
}

@media screen and (min-width: 476px) {
	div.dataTables_scroll div.dataTables_scrollHead, div.dataTables_scroll div.dataTables_scrollBody {
		width: 50%;
	}

  .export-button-wrapper  a.button {
    line-height: 3rem;
  }
}

/* Search */
#contacts-table_filter  input {
  margin: 0;
}

/* Table */
.table-responsive {
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  table#contacts-table {
    display: table;
  }

  table#contacts-table tbody {
    display: table;
    overflow-x: visible;
    white-space: normal;
  }

  table#contacts-table td, table#contacts-table th {
    display: table-cell;
  }
}

table#contacts-table {
  letter-spacing: normal;
  line-height: 1.15;
}

table#contacts-table thead {
  font-size: 1rem;
}

.dataTables_wrapper  .dataTables_length select[name="contacts-table_length"] {
  background-color: #363535;
}