/* Actions */
.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.15rem;
  border: 0;
  height: 100%;
  border-bottom: 0.1rem solid #e1e1e1;
}

.actions .button-action:disabled {
  cursor: default;
}

.actions .button-action:hover,
.actions .button-action:focus {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 0.1rem inset, rgba(50, 50, 93, .2) 0 0.3rem 0.65rem 0, rgba(0, 0, 0, .1) 0 0.1rem 0.1rem 0, rgba(50, 151, 211, .3) 0 0 0 0.15rem;
}

.actions .button-action:nth-child(4) {
  grid-column: 1 / span 2;
}


/* Export Buttons */

.export-button-container, .export-button-wrapper {
  display: flex;
}

.export-button-wrapper {
	flex-wrap: wrap;
	gap: 1.25rem;
  justify-content: center;
}
.export-button-wrapper > * {
	width: 45%;
	white-space: pre-wrap;
  transition: font-size 0.2s ease-out;
}

.export-button-container > * {
	width: 50%;
}

div.dataTables_scroll div.dataTables_scrollHead, div.dataTables_scroll div.dataTables_scrollBody {
  width: 50%;
}

@media screen and (max-width: 476px) {
  .export-button-wrapper  .button {
    white-space: normal;
    font-size: 1.1rem;
  }
}

/* Search */
#contacts-table_filter  input {
  margin: 0;
}

/* Table */
.table-responsive {
  overflow: hidden;
}

h3.table-header {
	color: #fff;
	margin: auto;
	padding: 2rem;
  font-size: 4.5rem;
}

table#contacts-table {
  letter-spacing: normal;
  line-height: 1.15;
}

table#contacts-table thead {
  font-size: 1rem;
}

.dataTables_wrapper  .dataTables_length select[name="contacts-table_length"] {
  background-color: #363535;
}

td.child ul {
  width: 100%;
}

table#contacts-table.dataTable.dtr-column > tbody > tr > td.dtr-control::before, table.dataTable.dtr-column > tbody > tr > th.dtr-control::before, table.dataTable.dtr-column > tbody > tr > td.control::before, table.dataTable.dtr-column > tbody > tr > th.control::before {
	color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 640px) {
  table#contacts-table {
    display: table;
  }

  h3.table-header {
    color: #fff;
    padding: 0;
    font-size: 3.5rem;
  }

  table#contacts-table tbody {
    display: table;
    overflow-x: visible;
    white-space: normal;
    width: 100%;
  }

  table#contacts-table td, table#contacts-table th {
    display: table-cell;
  }
}