/* Overrides */
h3 {
	color: #fff;
	margin: auto;
	padding: 2rem;
}

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="month"], input[type="week"], input[type="datetime"], input[type="datetime-local"], input:not([type]), textarea, select {
	background-color: #7e7e7e;
}

/* Side Bar */
.side-nav {
	padding: 0 1rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.side-nav a.side-nav-item {
	display: flex;
	flex-direction: column;
}

.side-nav .heading {
	font-size: 3rem;
	color: #fff;
	font-weight: 400;
	padding-top: 2rem;
	margin: auto;
}

/* Background */
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to bottom, #7e7e7e, #181717);
}

/* Login Button */
a.button {
	display: flex;
	justify-content: center;
	align-content: center;
	white-space: nowrap;
	font-size: 1.5rem;
}
